//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

$main-margin: .5rem;
$main-padding: 1.5rem;
$phone-max-width: 600px;
$tablet-max-width: 960px;
$main-color: #03a9f4;
$main-border: solid 3px $main-color;

//------------------------------------------------------------------------------
// css rules
//------------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
}

.wrapper {
  color: $main-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: .5rem;
  justify-content: center;

  .tshirt {
    border: $main-border;
    // flex: 1;
    margin: $main-margin;
    position: relative;
    min-width: 400px;

    .dropdown {
      bottom: 63px;
      // box-shadow: 0 0 15px #eefaff;
      position: absolute;
      left: 156px;
      text-align: center;
      // visibility: hidden;
      width: 81.5px;
      z-index: 20;

      .size {
        background: #eefaff;
        border: $main-border;
        border-bottom: none;
        padding: $main-padding/2;
      }

      .arrow, .arrow-border {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0 auto;
        position: absolute;
      }

      .arrow {
        border-top: 10px solid #eefaff;
        border-bottom: none;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        bottom: -10px;
        left: 31px;
      }

      .arrow-border {
        border-top: 13px solid $main-color;
        border-bottom: none;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        bottom: -13px;
        left: 28px;
      }
    }
    .rotate-shirt {
      border-bottom: $main-border;
      border-left: $main-border;
      height: 45px;
      padding: $main-padding/2;
      position: absolute;
      right: 0px;
      transition: all .3s;
      z-index: 10;

      &:hover {
        background: $main-color;
        color: white;
      }

      &:hover + .picture-container img {
        transform: rotateY(180deg);
      }
    }

    .picture-container {
      height: 347px;
      margin: 20px auto;
      position: relative;
      width: 360px;
      z-index: 1;

      img {
        transition: 1s transform ease;
        transform-style: preserve-3d;
      }
    }
  }

  #imgBack1, #imgBack2, #imgBack3  {
    backface-visibility: hidden;
    left: 0px;
    position: absolute;
    top: 0px;
  }

  .small-nav {
    background: #eefaff;
    border-top: $main-border;
    display: flex;

    div {
      border-right: $main-border;
      flex: 1;
      font-size: 1.5rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      text-align: center;
      transition: all .3s;

      &:last-child {
        border:none;
      }

      &:hover {
        background: $main-color;
        color: white;
      }
    }
  }
}

/* tablets */
// @media only screen and (max-width: $tablet-max-width) {
//   .wrapper {
//     flex-direction: row;
//
//     .tshirt:nth-child(1),.tshirt:nth-child(2) {
//       flex: 50;
//     }
//
//     .tshirt:nth-child(3) {
//       flex: 100;
//     }
//   }
// }

/* phones */
// @media only screen and (max-width: $phone-max-width) {
//   .wrapper {
//     flex-direction: column;
//     margin: 0;
//
//     .tshirt {
//       flex: 1;
//     }
//   }
// }
